/*!
 * Title:       Next Template
 * File:        Header Style
 * Description: Style for header.
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Header
--------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 240px;
  z-index: 9;

  &.is_hidden {
    top: -$header-height_m;
    transition: $transition;
  }

  &.is_shown {
    top: 0;
  }

  &_content {
    padding: 0 $section-gutter-hor;

    &:first-child { height: $header-height_m; }
  }

  &_navigation {
    max-width: 100%;
    max-height: 0;
    transition: $transition;
    overflow: hidden;

    &.is_shown { max-height: 100vh; }
  }

  @include media-breakpoint-min(lg) {
    & {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    &.is_hidden {
      top: -$header-height;
    }

    &_content:first-child {
      height: $header-height;
    }

    &_branding {
      width: auto;
      max-width: 50%;
    }

    &_branding {
      width: auto;
    }

    &_navigation {
      max-height: 100vh;
    }
  }

  @include media-breakpoint-max(lg) {
    &:not(.is_hidden) {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  @media print {
    position: relative;
    border-bottom: 1px solid $primary;

    &_menu, &_navigation { display: none; }
  }
}
