/*!
 * Title:       Next Template
 * File:        Header Style
 * Description: Style for header.
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Header
--------------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 240px;
  z-index: 9;

  &.active {
    top: -$header-height_m;
    transition: $transition;
  }

  &_content {
    padding: 0 $section-gutter-hor;

    &:first-child { height: $header-height_m; }
  }

  &_navigation {
    max-width: 100%;
    max-height: 0;
    transition: $transition;
    overflow: hidden;

    &.show { max-height: 100vh; }
  }

  @include media-breakpoint-min(lg) {
    & {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    &.active {
      top: -$header-height;
    }

    &_content:first-child {
      height: $header-height;
    }

    &_branding {
      width: auto;
      max-width: 50%;
    }

    &_branding {
      width: auto;
    }

    &_navigation {
      max-height: 100vh;
    }
  }

  @include media-breakpoint-max(lg) {
    &:not(.active) {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  @media print {
    position: relative;
    border-bottom: 1px solid $primary;

    &_menu, &_navigation { display: none; }
  }
}

/*--------------------------------------------------
  Nav
--------------------------------------------------*/

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;

  &_item {
    position: relative;
    overflow: hidden;
  }

  &_item a {
    display: block;
    color: #FFF;
    font-size: $font-nm;
    line-height: $nav-height;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:active,
    &.active { text-decoration: none; }
  }

  @include media-breakpoint-min(lg) {
    flex-direction: row;

    &_item a {
      padding-right: 10px;
      padding-left: 10px;
    }

    &_item:hover a {
      background-color: $primary;
    }

    &_item:hover,
    &_item.active {
      background-color: $primary;
    }
  }
}

/*--------------------------------------------------
  Menu
--------------------------------------------------*/

.menu {
  position: relative;
  display: block;
  color: $white;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  &_inner {
    position: relative;
    display: block;
    width: inherit;
    height: 4px;
    background-color: $white;
  }

  &_inner::after,
  &_inner::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $white;
    transition: all 200ms ease-in-out;
  }

  &_text { margin: 4px 0 0; }
  &_inner::before { top: -10px; }
  &_inner::after { bottom: -10px; }

  &.active &_inner { background-color: rgba(0, 0, 0, 0); }
  &.active &_inner::before { top: 0; transform: rotate(-40deg); }
  &.active &_inner::after { bottom: 0; transform: rotate(40deg); }
}

/*--------------------------------------------------
  Branding
--------------------------------------------------*/

.branding {
  display: flex;
  align-items: center;
  height: $header-height_m;
  font-size: $font-xl;
  white-space: nowrap;

  &_logo {
    display: block;
    width: auto !important;
    max-width: 100%;
    max-height: calc(100% - 20px);
  }

  &_title {
    color: $white !important;
    font-size: inherit;
    text-decoration: none !important;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include media-breakpoint-min(lg) {
    height: $header-height;
    font-size: $font-sl;
  }
}
