/*!
 * Title:       Next Template
 * File:        Layout Style
 * Description: This is the style used for site layout.
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Site Main
--------------------------------------------------*/

.main {
  padding-top: $header-height_m;
  background-color: $grey-100;

  @include media-breakpoint-min(lg) {
    padding-top: $header-height + $nav-height;
  }
}

/*--------------------------------------------------
  Container
--------------------------------------------------*/

.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &.is_fluid { max-width: 100% !important; }

  @include media-breakpoint-min(xs) {
    max-width: $container-xs;
  }

  @include media-breakpoint-min(sm) {
    max-width: $container-sm;
  }

  @include media-breakpoint-min(md) {
    max-width: $container-md;
  }

  @include media-breakpoint-min(lg) {
    max-width: $container-lg;
  }

  @include media-breakpoint-min(xl) {
    max-width: $container-xl;
  }
}

/*--------------------------------------------------
  Site Footer
--------------------------------------------------*/

.footer {
  position: relative;
  z-index: 1;
}

