/*!
 * Title:       Next Template
 * File:        Layout Style
 * Description: Style for site layout.
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Site Main
--------------------------------------------------*/

.main {
  min-height: 100vh;
  padding-top: $header-height_m;
  background-color: $grey-100;

  @include media-breakpoint-min(lg) {
    padding-top: $header-height + $nav-height;
  }
}

/*--------------------------------------------------
  Site Footer
--------------------------------------------------*/

.footer {
  position: relative;
  z-index: 1;
}

