/*!
 * Title:       Next Template
 * File:        navigation Style
 * Description: Style for Navigation.
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Nav
--------------------------------------------------*/

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;

  &_item {
    position: relative;
    overflow: hidden;
  }

  &_item a {
    display: block;
    color: #FFF;
    font-size: $font-nm;
    line-height: $nav-height;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:active,
    &.is_active { text-decoration: none; }
  }

  @include media-breakpoint-min(lg) {
    flex-direction: row;

    &_item a {
      padding-right: 10px;
      padding-left: 10px;
    }

    &_item:hover a {
      background-color: $primary;
    }

    &_item:hover,
    &_item.is_active {
      background-color: $primary;
    }
  }
}
