/*!
 * Title:       Next Template
 * File:        Notice Style
 * Description: Style for browser notice.
 */

@import 'variable';
@import 'mixin';

/*--------------------------------------------------
  Browser Notice
--------------------------------------------------*/

.browser_notice {
  padding: 20px;
  color: $white;
  text-align: center;
  background-color: $danger;
}
